.green-board {
    background-color: rgb(1, 137, 63);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
}

.green-board:after {
    content: "";
    display: block;
    padding-bottom: 80%;
}

.span1 {
    color: yellow;
    font-size: 20px;
}

.span2 {
    color: yellow;
    font-size: 20px;
}

.s_timer {
    color: white;
    font-size: 38px;
}

.s_score {
    color: white;
    font-size: 38px;
}

.timer {
    font-family: tahoma;
    position: absolute;
    text-align: left;
    left: 20%;
    top: 8%;
}
.score {
    font-family: tahoma;
    position: absolute;
    text-align: right;
    right: 20%;
    top: 8%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, 0);
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #01893f;
    width: 50px;
    height: 60px;
}

img {
    width: 120%;
}

button {
    background-color: rgb(1, 137, 63);
    border-color: yellow;
    color: yellow;
    cursor: pointer;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 25px;
    font-size: 24px;
    font-family: tahoma;
    border-radius: 7px;
}

button:hover {
    background-color: black;
    color: rgb(1, 137, 63);
}